@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Lato&display=swap");

body {
	margin: 0;
	text-align: center;
	font-family: "Dongle", sans-serif;
	font-family: "Lato", sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
